.Agendamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.agendamentos-section {
  width: 80%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.agendamentos-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.agendamentos-list li {
  background-color: #eef;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  text-align: center;
  color: #666;
}

.login-prompt {
  text-align: center;
  margin-top: 20px; /* Adiciona espaço acima do prompt de login */
}

.login-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #007BFF;
}
