footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: hsl(217, 51%, 51%);
  color: white;
  width: 100%;
  margin-top: auto;
}

footer h3 {
  font-size: 1rem;
  margin-bottom: 10px; /* Espaço abaixo do título */
  text-align: center; /* Centralizado */
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinha os itens no topo */
  width: 100%;
  max-width: 800px; /* Limita a largura máxima */
}

.contact-info {
  text-align: left; /* Alinha o contato à esquerda */
  flex: 1;
}

.social-icons {
  display: flex;
  flex-direction: column; /* Coloca os ícones na vertical */
  align-items: flex-end; /* Mantém os ícones à direita */
  gap: 1px; /* Espaço entre as seções de ícones */
  flex: 1;
  margin-top: -20px; /* Levanta os ícones um pouco para cima */
}

.icon-item {
  display: flex;
  align-items: left; /* Alinha o ícone e o texto na mesma linha */
  font-size: 30px;
}

.icon-item p {
  margin-left: 10px; /* Espaço entre o ícone e a descrição */
}

footer p {
  font-size: 0.8rem;
  margin-top: 5px;
  color: white;
}
