header {
    background-image: url("../img/fundo.png");
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
}

header .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

img {
    display: block;
    margin-right: 20px;
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.top-section .account-icon {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

nav {
    margin-top: -25px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 8px; /* Reduzido o espaçamento entre os links */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px; /* Aumentado o padding para links maiores */
    font-size: 1.2rem; /* Aumentado o tamanho da fonte */
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

header .account-menu {
    position: relative;
}

header .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .dropdown-menu li {
    margin-bottom: 10px;
}

header .dropdown-menu li:last-child {
    margin-bottom: 0;
}

header .dropdown-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header .dropdown-menu li a:hover {
    color: #007BFF;
}

.sair-link {
    color: #FF4C4C;
    font-weight: bold;
}

.sair-link:hover {
    text-decoration: underline;
}

label {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="checkbox"] {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Admin{
    color: #333;
}

/* Estilo do login */
.login-prompt {
  text-align: center;
  margin-top: 20px;
}

.login-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
}

.login-button button :hover{
    background-color: #007BFF;
}


