/* Estrutura Principal */
.home-container {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0; /* Remover margens */
  padding: 0; /* Remover o preenchimento */
  width: 100vw; /* Garante que a largura seja 100% da viewport */
  overflow-x: hidden; /* Impede que o conteúdo exceda a largura da viewport */
  position: relative; /* Necessário para que a imagem de onda seja posicionada relativamente ao contêiner */
}



/* Estilo da Hero Section (Parte inicial com o destaque) */
.hero-content {
  margin: 0;
  padding: 40px 20px;
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.hero-content h1 {
  color: #2980b9;
}

.hero-content p {
  color: #2980b9;
}

/* Seção de Ícones */
.icone-section {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative; /* Garante que os ícones fiquem posicionados corretamente */
  z-index: 2;
}

.icone-item {
  text-align: center;
  max-width: 150px;
}

.social-icone {
  font-size: 3rem;
  color: #2980b9;
  transition: color 0.3s ease;
}

.social-icone:hover {
  color: #1f6489;
}

h3 {
  font-size: 1.3rem;
  color: #2980b9;
  margin: 10px 0 5px;
}

p {
  font-size: 1rem;
  color: #2980b9;
  margin: 0;
  text-align: left;
  position: relative;
}

/* Estrutura da imagem central e laterais */
.image-structure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative; /* Define um contexto para a imagem da onda */
}

.side-section, .right-section {
  width: 33.3vw;
  height: 350px;
}

.side-section {
  background-color: #ADD8E6;
}

.side-section h3{
 position: relative;
 top: 70px;
 color: #2980b9;
}

.right-section {
  background-color: #87CEFA;
}

.right-section h3 {
  position: relative;
  top: 40px;
  color: #2980b9;
  left: -50px;
}

.centers-image {
  background-image: url('../img/remedios.png');
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3vw;
  height: 400px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

/* Imagem de onda */
.wave-image {
  position: absolute; /* Mantém a imagem em relação ao contêiner pai */
  top: 440px; /* Ajusta a posição para descer um pouco mais e não sobrepor os ícones */
  left: 50%; /* Alinha a imagem ao centro horizontalmente */
  width: 100vw; /* Define a largura para ocupar 100% da viewport */
  max-width: none; /* Remove quaisquer restrições de largura máxima */
  height: auto; /* Mantém a proporção da altura da imagem */
  z-index: 0; /* Ajuste o z-index para que a imagem fique atrás do conteúdo acima */
  pointer-events: none; /* Evita interferir com interações do usuário */
  transform: translateX(-50%); /* Centraliza a imagem horizontalmente */
}


/* Prevenindo as seções de sobrepor as informações */
.info-content {
  clear: both;
  padding-top: 20px;
  z-index: 2; /* Certifica-se de que o conteúdo esteja acima da onda */
  position: relative;
}

.info-content h2 {
  font-size: 2rem;
  color: #2980b9;
  margin-bottom: 20px;
}

.info-content p, .info-content ul {
  font-size: 1.2rem;
  text-align: left;
  position: relative;
  left: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

strong {
  color: #2980b9;
}

/* Layout Responsivo */
@media (min-width: 768px) {
  .image-structure {
    max-width: 100vw;
    margin: 0 auto;
  }

  .side-section, .right-section {
    height: 400px;
  }
}
