/* Estilo Principal */
.home-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
  }
  
  /* Hero Section */
  .hero-content {
    margin: 0;
    padding: 40px 20px;
    background-image: url(../img/eee.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    width: 100vw;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    right: 50%;
  }
  
  .hero-content h1, .hero-content p {
    color: #ffffff;
  }
  
  /* Estilo do Conteúdo de Soluções */
  .solucoes-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    text-align: center;
  }
  
  .solucoes-content h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .solucoes-content p {
    text-align: justify;
    margin-bottom: 15px;
  }
  